*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffffab;
    color: #000000;
    line-height: 1.5;
}
header{
    position: fixed;
    display: flex;
    background-color: #424242e7;
    width: 100%;
    top: 0%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: ;
}
ul{
    display: flex;
    list-style: none;
}
header nav a{
    text-decoration: none;
    color: #030300;
    font-size: 1.5rem;
    text-shadow: #61540a;
    top: 10px;
   
}
a:hover{
   color: #fdec00;
    border-radius: 30px;
}
 
.navbar-desktop{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 50px
}
 
.navbar-mobile{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    height: 60px;
    background-color: #d1d1d1e0
}
 
.logo {
   width: 150px;
 
}
 
.redes {
 width: 1.5rem;
 margin-right: 10px;
}
 
.botão-flutuante{
    position: fixed;
    bottom: 450px;
    right: 20px;
    background-color: #ee992b;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px #5f3b0d ;
}
main{
    max-width: 1200px;
    margin: 140px 20%;
    top: 50px;
}
